# TODO: Use whitelist method once bug is fixed
# TODO: https://github.com/kreuzwerker/terraform-provider-docker/issues/249
# *

# !index.js
# !package-lock.json
# !package.json

*.md
*.tf
*docker*
*terraform*
.env
