# TODO: Use whitelist method once bug is fixed
# TODO: https://github.com/kreuzwerker/terraform-provider-docker/issues/249
# *

# !index.js
# !package-lock.json
# !package.json

*.terraform*
*.tf
*.tfstate*
*.tfvar
.dockerignore
.env
Dockerfile
node_modules
